services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ticketsbotpass
      POSTGRES_DB: ticketsbot
    # ports:  # Uncomment this line and the following line to access the main postgres on port 5433
    #   - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "psql -U postgres -d ticketsbot -t -c \"SELECT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = 'public' AND table_name = 'whitelabel_users');\" | grep -q 't'"]
      interval: 10s
      timeout: 5s
      retries: 10
  
  postgres-cache:
    image: postgres:15
    container_name: postgres-cache
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: botcache
    # ports: # Uncomment this line and the following line to access the cache postgres on port 5434
    #   - "5434:5432"
    volumes:
      - ./pgcachedata:/var/lib/postgresql/data
      - ./init-cache.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "psql -U postgres -d botcache -c 'SELECT 1' > /dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  postgres-archive:
    image: postgres:15
    container_name: postgres-archive
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: archive
    # ports: # Uncomment this line and the following line to access the archive postgres on port 5435
    #   - "5435:5432"
    volumes:
      - ./pgarchivedata:/var/lib/postgresql/data
      - ./init-archive.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "psql -U postgres -d archive -c 'SELECT 1' > /dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  kafka:
    image: apache/kafka:latest
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    command: ["redis-server", "--requirepass", "yourpassword"]
    # ports: # Uncomment this line and the following line to access redis on port 6479
    #   - "6479:6379"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 10s
      timeout: 3s
      retries: 5

  statsd:
    image: ghcr.io/statsd/statsd:v0.10.2
    networks:
      - app-network

  http-proxy:
    image: ghcr.io/rxdn/http-proxy:metrics
    container_name: http-proxy
    environment:
      DISCORD_TOKEN: ${DISCORD_BOT_TOKEN}
    networks:
      - app-network

  worker-interactions:
    image: ghcr.io/ticketsbot/worker:89dec1fd9a114ad0eb18fbf026da2624b7b5821d
    container_name: worker-interactions
    restart: on-failure:10
    # ports:
    #   - "6061:6060" # pprof port
    environment:
      WORKER_MODE: INTERACTIONS

      WORKER_PUBLIC_TOKEN: ${DISCORD_BOT_PUBLIC_KEY}
      WORKER_PUBLIC_ID: ${DISCORD_BOT_CLIENT_ID}
      SUPPORT_SERVER_INVITE: ${DISCORD_SUPPORT_SERVER_INVITE}
      HTTP_ADDR: 0.0.0.0:4001
      DISCORD_PROXY_URL: http-proxy:80 # http://{proxy_url}/{discord's api path ex: api/v10/webhooks/...}

      WORKER_ARCHIVER_URL: http://logarchiver:4000
      WORKER_ARCHIVER_AES_KEY: ${ARCHIVER_AES_KEY}

      DATABASE_HOST: postgres:5432
      DATABASE_NAME: ticketsbot
      DATABASE_USER: postgres
      DATABASE_PASSWORD: ticketsbotpass
      DATABASE_THREADS: 4

      CACHE_HOST: postgres-cache:5432
      CACHE_NAME: botcache
      CACHE_USER: postgres
      CACHE_PASSWORD: password
      CACHE_THREADS: 4

      WORKER_REDIS_ADDR: redis:6379
      WORKER_REDIS_PASSWD: yourpassword
      WORKER_REDIS_THREADS: 4

      KAFKA_BROKERS: kafka:9092
      KAFKA_EVENTS_TOPIC: ticketsbot
      KAFKA_GOROUTINE_LIMIT: 1000
      
      WORKER_STATSD_ADDR: statsd:8125
      WORKER_STATSD_PREFIX: ticketsbot

      WORKER_SENTRY_DSN: https://247fcd7e012b444d0634fc501835333e@o4508605735305216.ingest.us.sentry.io/4508605757194240
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      postgres-cache:
        condition: service_healthy
      # sharder-main:
      #   condition: service_healthy
    networks:
      - app-network

  worker-gateway:
    image: ghcr.io/ticketsbot/worker:89dec1fd9a114ad0eb18fbf026da2624b7b5821d
    container_name: worker-gateway
    restart: on-failure:10
    # ports:
      # - "6062:6060" # pprof port
    environment:
      # WORKER_DEBUG: 
      WORKER_MODE: GATEWAY

      WORKER_PUBLIC_TOKEN: ${DISCORD_BOT_PUBLIC_KEY}
      WORKER_PUBLIC_ID: ${DISCORD_BOT_CLIENT_ID}
      SUPPORT_SERVER_INVITE: ${DISCORD_SUPPORT_SERVER_INVITE}
      HTTP_ADDR: 0.0.0.0:4001
      DISCORD_PROXY_URL: http-proxy:80

      DATABASE_HOST: postgres:5432
      DATABASE_NAME: ticketsbot
      DATABASE_USER: postgres
      DATABASE_PASSWORD: ticketsbotpass
      DATABASE_THREADS: 4

      CACHE_HOST: postgres-cache:5432
      CACHE_NAME: botcache
      CACHE_USER: postgres
      CACHE_PASSWORD: password
      CACHE_THREADS: 4

      WORKER_REDIS_ADDR: redis:6379
      WORKER_REDIS_PASSWD: yourpassword
      WORKER_REDIS_THREADS: 4

      KAFKA_BROKERS: kafka:9092
      KAFKA_EVENTS_TOPIC: ticketsbot
      KAFKA_GOROUTINE_LIMIT: 1000

      WORKER_STATSD_ADDR: statsd:8125
      WORKER_STATSD_PREFIX: ticketsbot

      WORKER_SENTRY_DSN: ${SENTRY_DSN}
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      postgres-cache:
        condition: service_healthy
    networks:
      - app-network

  http-gateway:
    image: ghcr.io/ticketsbot/http-gateway:b0748cc2e964eb1fcb658565844a50a6182489cf
    container_name: http-gateway
    restart: on-failure:3
    ports:
      - "8080:4000"
    environment:
      RUST_LOG: trace
      server_addr: 0.0.0.0:4000
      public_bot_id: ${DISCORD_BOT_CLIENT_ID}
      public_token: ${DISCORD_BOT_TOKEN}
      public_public_key: ${DISCORD_BOT_PUBLIC_KEY}

      database_uri: postgres://postgres:ticketsbotpass@postgres:5432/ticketsbot
      database_threads: 4

      cache_uri: postgres://postgres:password@postgres-cache:5432/botcache
      cache_threads: 4

      worker_svc_uri: worker-interactions:4001 # becomes: http://{svc_uri}/interactions
      shard_count: 1
    depends_on:
      postgres:
        condition: service_healthy
      postgres-cache:
        condition: service_healthy
    networks:
      - app-network

  sharder-main:
    image: ghcr.io/ticketsbot/main-sharder:a4bf4a98848094435d017d90c2cfc09a04146ef3
    container_name: sharder-main
    hostname: sharder-0
    ports:
      - "8092:8091"
    environment:
      RUST_LOG: trace
      # sharder_id: 0 # this is automatically set by the dash from the hostname
      sharder_total: 1

      redis_addr: redis:6379
      redis_password: yourpassword
      redis_threads: 2

      metrics_addr: 0.0.0.0:8091
      sentry_dsn: ${SENTRY_DSN}
      worker_svc_uri: worker-gateway:4001

      kafka_brokers: kafka:9092
      kafka_topic: ticketsbot

      large_sharding_buckets: 1
      sharder_token: ${DISCORD_BOT_TOKEN}
      sharder_cluster_size: 1
      bot_id: ${DISCORD_BOT_CLIENT_ID}
    depends_on:
      postgres:
        condition: service_healthy
      postgres-cache:
        condition: service_healthy
    networks:
      - app-network

  cachesync:
    image: ghcr.io/ticketsbot/cache-sync-service:a4bf4a98848094435d017d90c2cfc09a04146ef3
    restart: on-failure:3
    # ports:
    #   - '8091:8091' # metrics port
    environment:
      RUST_LOG: trace
      workers: 1
      batch_size: 100
      brokers: kafka:9092
      group_id: 1
      topic: ticketsbot
      postgres_uri: 'postgres://postgres:password@postgres-cache:5432/botcache'
      metric_server_addr: '0.0.0.0:8091'
    depends_on:
      postgres-cache:
        condition: service_healthy
      sharder-main:
        condition: service_started
    networks:
      - app-network
  
  api:
    image: ghcr.io/ticketsbot/api:8f5d68ab0de450a60202788c4c660f2ebdb8c47c
    restart: on-failure:10
    ports:
      - '8082:8081'
    environment:
      SERVER_ADDR: 0.0.0.0:8081
      BASE_URL: ${DASHBOARD_URL}
      MAIN_SITE: ${LANDING_PAGE_URL} # Home/Landing (used for /premium)
      DATABASE_URI: 'postgres://postgres:ticketsbotpass@postgres/ticketsbot'
      REDIS_HOST: redis
      REDIS_PASSWORD: yourpassword
      REDIS_PORT: 6379
      REDIS_THREADS: 2
      RATELIMIT_WINDOW: 10
      RATELIMIT_MAX: 10
      RealIpHeaders: 'X-Forwarded-For'
      TRUSTED_PROXIES: '127.0.0.1,172.21.0.1'
      JWT_SECRET: ${JWT_SECRET}
      OAUTH_ID: ${DISCORD_BOT_CLIENT_ID}
      OAUTH_SECRET: '${DISCORD_BOT_OAUTH_SECRET}'
      OAUTH_REDIRECT_URI: '${DASHBOARD_URL}/callback'
      BOT_ID: ${DISCORD_BOT_CLIENT_ID}
      BOT_TOKEN: '${DISCORD_BOT_TOKEN}'
      CACHE_URI: 'postgres://postgres:password@postgres-cache/botcache'
      # Optional?
      DISCORD_PROXY_URL: http-proxy:80
      METRIC_SERVER_ADDR: 0.0.0.0:8091
      ADMINS: ${ADMIN_USER_IDS}
      # FORCED_WHITELABEL: ${DISCORD_BOT_CLIENT_ID} # I'm unsure what this does.
      SENTRY_DSN: ${SENTRY_DSN}
      LOG_ARCHIVER_URL: http://logarchiver:4000
      LOG_AES_KEY: ${ARCHIVER_AES_KEY}
      # RENDER_SERVICE_URL:
      # PREMIUM_PROXY_URL
      # PREMIUM_PROXY_KEY
      # SESSION_DB_THREADS
      # SESSION_SECRET
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  dashboard:
    build:
      dockerfile: './dashboard.Dockerfile'
      args:
        CLIENT_ID: ${DISCORD_BOT_CLIENT_ID}
        REDIRECT_URI: ${DASHBOARD_URL}/callback 
        API_URL: ${API_URL}
        WS_URL: ${API_URL}
    ports:
      - '5000:5000'

  logarchiver:
    image: ghcr.io/ticketsbot/logarchiver:0cfab8ec82cfaa88af9e6fabe4dd9a407f7537dd
    environment:
      ARCHIVER_ADDR: 0.0.0.0:4000
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_ACCESS: ${S3_ACCESS}
      S3_SECRET: ${S3_SECRET}
      DEFAULT_BUCKET_ID: b77cc1a0-91ec-4d64-bb6d-21717737ea3c
      SENTRY_DSN: "${SENTRY_DSN}"
      PRODUCTION_MODE: true
      ADMIN_AUTH_TOKEN: ${ARCHIVER_ADMIN_AUTH_TOKEN}
      DATABASE_URI: postgres://postgres:password@postgres-archive:5432/archive
    networks:
      - app-network
    depends_on:
      postgres-archive:
        condition: service_healthy


networks:
  app-network:
    driver: bridge